{% extends "base.html" %}

{% block body %}

    <div class="row">
        <div class="col-sm-3 col-sm-offset-2">
            <h2>Add your site</h2>
            <form name="form" class="form-horizontal" action="{{ url_for("passwords") }}" method="post">

                <div class="form-group">
                    <label class="control-label col-sm-2" for="siteName">Site Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="siteName" id="siteName" placeholder="Site Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="pwd" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-5 col-sm-offset-2">
                <h2> List Of All Entries</h2>
                <div class="row control-group">
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th class="col-md-2">Site Name</th>
                            <th>Update/Delete</th>

                        </tr>
                        {% for password in userPasswords %}
                            <tr>
                                <td>{{ password.id }}</td>
                                <td>{{ password.siteName }}</td>
                                <td>
                                    <div id=password>
                                        <form action="{{ url_for("passwordsGet",siteName= password.siteName) }}">
                                            <button type="submit" formmethod="get"
                                                    formaction="/passwordsGet/{{ password.siteName }}"
                                                    class="btn btn-success">Odczytaj hasło
                                            </button>
                                            <button type="submit" formmethod="get"
                                                    formaction="/delete/{{ password.id }}" class="btn btn-danger">Usuń
                                            </button>
                                            <section class="text-danger">
                                                {% with  messages = get_flashed_messages(with_categories=true) %}
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            {% if message[0] == password.siteName %}
                                                                <div class="alert alert-danger" role="alert">
                                                                    {{ message[1] }}
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}

                                                    {% endif %}
                                                {% endwith %}
                                            </section>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}